@charset "utf-8";
/* CSS Document */

li{list-style:none}
ul{padding-left:10px}
hr{width:300px}
#h{padding:0px; margin:5px;}
#top{width:700px}
#pad{margin-top:0px; padding:0px}
#title{font-weight:bold;font-size:18px; float:left; width:400px; padding-top:10px}
#notice{padding-top:10px;margin-top:4px;}
#new{background-color:#ccc;width:700px; height:180px; color:#000; font-weight:bold;}
#bn{font-size:16px}
#content{background-color:#fff; width:330px; height:150px; margin:10px; float:left}

#subjectd{float:left; width:350px; text-align:center}
#subject{float:left; width:360px; text-align:left; margin-left:5px;}

#writerd,#hitd,#dated{float:left; width:100px;text-align:center}

#writer{width:130px}
#hit{width:92px}
#writer,#hit,#date{float:left; text-align:left}

#head{background-color:#fff; border-bottom:1px solid #999; border-top:1px solid #999; height:25px; width:700px}

#text{background-color:#fff; border-bottom:1px dotted #999; height:25px; width:700px;}

#btn{background-color:#000; width:100px; height:20px; color:#fff; font-weight:bold; padding-top:10px; text-align:center}